.wrap {
    height: 100%;
    width: 100%;
    margin-bottom: 5em;
    .home_img {
        max-width: 100%;
        border-radius: 10px;
    }
    .store_img {
        height: 250px;
        width: 250px;
    }
}